.bg-azzurro{
  background-color: #1abc9c;
}

header, footer{
  background-color: #2c3e50;
}

.mdg-inner-jumbo{
  width: 800px;
  max-width: 80%;
  margin: 0 auto
}

.mdg-py-50{
  padding: 50px 0;
}

.mdg-bg-green{
  background-color: #31BC9C;
}

.colore-casa{
  background-color: #ba4b63;
  border-radius: 10px;
}

.colore-torta{
  background-color: #1ea4b6;
  border-radius: 10px;
}

.colore-circo{
  background-color: black;
  border-radius: 10px;
}

.colore-joystick{
  background-color: #1c83c1;
  border-radius: 10px;
}

.colore-cassaforte{
  background-color: #0e38b5;
  border-radius: 10px;
}

.colore-submarine{
  background-color: #ccb2a3;
  border-radius: 10px;
}

.footer-top{
  background-color: #3a546d;
}

.mdg-logo{
  color: white;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}

.mdg-a-header{
  color: white;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

.mdg-hamb{
  font-size: 20px;
  padding: 4px 10px;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.mdg-h2{
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

.mdg-bianco{
  color: white;
  text-transform: uppercase;
}

.mdg-color-h2{
  color: #333333;
}

.mdg-image{
  width: 100%;
  display: block;
}

.box-hover{
  position: relative;
}

.mdg-hover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 188, 156, .5);
  display: none;
  border-radius: 10px;
}

.box-hover:hover .mdg-hover {
  display: block;
}

.mdg-piu{
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: none;
}

.mdg-p{
  color: white;
}

.mdg-btn{
  color: white;
  border: 1px solid white;
}

.mdg-btn:hover{
  background-color: white;
}

.mdg-border{
  border: none;
  border-bottom:1px solid lightgray;
  border-radius: 0;
}

.mdg-social{
  padding: 7px 10px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.mdg-color-green{
  color: #1abc9c;
}

.mdg-font-span{
  font-size: 10px;
}